*{margin: 0px; padding: 0px;}

.head-bar {
	margin-top: 15px;
	margin-bottom: 50px;
	background: #369b7e;
	padding: 20px;
}

.heading {
	color: #fff;
	text-transform: uppercase;
	font-size: 25px;																																																																																																																																																																																																																px;
	letter-spacing: 1px;
	line-height: 35px;
}

.btn {
	border-radius: 0px;
}
.row {
	margin-bottom: 15px;
}