*{margin: 0px; padding: 0px;}

.root {
	--base: #4b0881;
}
.head-bar {
	margin-top: 15px;
	margin-bottom: 50px;
	background: var(--base);
	padding: 20px;
}

.heading {
	color: #fff;
	text-transform: uppercase;
	font-size: 25px;																																																																																																																																																																																							
	letter-spacing: 1px;
	line-height: 35px;
}

.btn {
	border-radius: 0px;
	width: 100%;
}
.row {
	margin-bottom: 15px;
}
.base {
	width: 100%;
}